
<div class="bloc_users">
  <% @users.each do |user| %>
      <%= render partial: "user", locals: { user: user } %>
  <% end %>
</div>

<% if current_user %>
  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete  %></li>
<% else %>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
<% end %>